*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

/* hamburger  */
svg {
    display: none;
}

#menu_icon{
    display: none;
}

#drawer{
    display: none;
}

#drawer.open {
    display: none;
}

/* global */
.container{
    width: 90%;
    margin:auto;
    overflow: hidden;
}

ul{
    margin:0;
    padding: 0;
}

.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/* header */

header{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    padding-left: 30px;
    padding-right: 30px;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float:left;
    display: inline;
    padding: 0 10px 0 10px
}

header #title{
    float: left;
}

header #title h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}

/* dropdown menu */

a{
    text-decoration: none;
}

nav ul{
    position: relative;
    display: inline-block;
}

nav ul ul{
    display: none;
}

nav ul li a {
    text-transform: uppercase;
    transition: all .25s ease;
    color: white;
}

nav ul li a:hover{
    color: #e8491d;
}

nav ul li:hover > ul{
    display: block;
}

nav ul li:hover > ul{
    margin: 0;
    padding: 10px;
}

nav ul li:hover > ul li{
    float: none;
    display: block;
}

nav ul li:hover > ul li a {
    color: white;
    min-width: 500px;
}

nav ul li:hover > ul li a:hover{ color: #e8491d}

nav ul li{position: relative}

nav ul li ul{position: absolute; top:15px; left:15px;}


/* bar*/
#bar{
    padding:15px;
    color:#ffffff;
    background:#35424a;
}

#bar h1{
    float:left;
    margin-top:15px;
}

#bar form {
    float:right;
    margin-top:15px;
}

#bar input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}


/* portfolio */
.magic_tricks{
    margin-top: 20px;
}

.magic_tricks figure{
    margin-top: 20px;
    float: left; /* meter imagens e legenda na horizontal (inherit - mete vertical)*/
    text-align: center; /*legenda centrada*/
    padding:10px;
}



/* footer */
footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
}

/* Media Queries */

/* Qd chega a 414px muda (formato smartphone) */
@media(min-width: 320px) and (max-width: 767px){

    /* mete o titulo no centro e a lista tambem */
    header #title,
    header nav,
    header nav li,
    #bar h1,
    #bar form,
    #topicos,
    aside#sidepic,
    article#texto-info{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    /* botao para ficar em baixo da barra de escrita*/
    #bar button, .quote button{
        display:block;
        width:100%;
    }

    #bar form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px;
    }

    #topicos{
        margin-top: 20px;
    }

    #topicos figure{
        float: left; /* meter imagens e legenda na horizontal (inherit - mete vertical)*/
        text-align: center; /*legenda centrada*/
        padding-top: 20px;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    /* portfolio */
    .magic_tricks{
        margin-top: 20px;
    }

    .magic_tricks figure{
        float: left; /* meter imagens e legenda na horizontal (inherit - mete vertical)*/
        text-align: center; /*legenda centrada*/
        padding-top: 20px;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }


    /* hamburger */
    svg {
        display: block;
        width: 60px;
    }

    #menu_icon{
        display: block;
        cursor: pointer;
        padding: 0px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1000;
    }

    #drawer{
        display: block;
        background-color: #CCCCCC;
        height:100%;
        width: 60%;
        position: absolute;
        transition: all 0.2s linear;
        transform: translateX(-115%);
        top: 0px;
        border-radius: 10px;
        opacity:0.95;
    }

    #drawer.open {
        display: block;
        transform: translateX(0);
    }

    nav a :link, nav a:visited {
        display: block;
        padding: 5px;
        text-decoration: none;
        margin: 5px;
        color: white;
    }

    nav {
        display:block;
        height: auto;
        width: 100%;
        position: absolute;
        top: 70px;
    }

    nav a {
        font-size: 1.5rem;
        text-decoration: none;
    }
}

/*  (formato tablet) */
@media(min-width: 768px) and (max-width: 1024px){

    #drawer{
        display: block;
    }

    header nav li a{
        font-size: 20px;
    }

    #title h1{
        font-size: 35px;
    }

    #slide h1{
        margin-top:40px;
    }

    #topicos{
        margin-top: 20px;
    }

    #topicos figure{
        float: left; /* meter imagens e legenda na horizontal (inherit - mete vertical)*/
        text-align: center; /*legenda centrada*/
        width:30%;
        padding:10px;
    }

    .magic_tricks figcaption{
        width: 200px;
        padding: 45px;
    }

    footer{
        bottom: 0;
        padding: 1rem;
        color:#ffffff;
        background-color:#e8491d;
        text-align: center;
    }

}

@media(min-width: 1025px) {

    #drawer{
        display: block;
    }

    #topicos {
        margin-top: 20px;
    }

    #topicos figure {
        float: left; /* meter imagens e legenda na horizontal (inherit - mete vertical)*/
        text-align: center; /*legenda centrada*/
        width: 30%;
        padding: 10px;
    }

    .magic_tricks figcaption{
        width: 200px;
        padding: 10px;
    }

    footer{
        color:#ffffff;
        background-color:#e8491d;
        text-align: center;
        bottom: 0;
        width: 100%;
    }

}